.ServicepymeSect1 {
  background-image: url("https://res.cloudinary.com/dzzkeb6xp/image/upload/v1658086596/pexels-andrea-piacquadio-3769711_khi7qu.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 82vh;
}

.ServicepymeSect2 {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: black;
  color: white;
}

.ServicepymeSect2Title {
  text-align: center;
  padding-bottom: 5%;
}

.circle {
  background-color: rgb(48, 48, 218);
  border-radius: 50%;
  width: 10px;
  height: 20px;
}

.contactImg {
  background-image: url("https://res.cloudinary.com/dzzkeb6xp/image/upload/v1658090088/pexels-andrea-piacquadio-3783229_z2bbif.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60vh;
}

.contactserviceTitle {
  color: white;
  margin-top: 10%;
  margin-bottom: 12%;
  text-align: center;
}

.ServicepymeSect3 {
  background-color: black;
}

.space {
  margin-bottom: 4%;
  margin-left: 2%;
}
.ServicepymeTitle {
  margin-top: 15%;
  margin-bottom: 12%;
  text-align: center;
}
.ServicepymeTitle h1 {
  color: white;
  margin-bottom: 5%;
  margin-top: 15%;
  text-align: center;
}
@media screen and (max-width: 550px) {
  .circle {
    display: none;
  }
  .ServicepymeSect1 {
    height: 60vh;
  }
  .ServicepymeSect2 {
    padding-top: 10%;
  }
  .contactImg {
    display: none;
  }
  .contactserviceTitle {
    color: white;
    margin-top: 20%;
    margin-bottom: 22%;
    text-align: center;
  }
}
