.DigitalitataionSect1 {
  background-image: url("https://res.cloudinary.com/dzzkeb6xp/image/upload/v1658689609/pexels-tranmautritam-251225_pwzwps.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 82vh;
}

@media screen and (max-width: 550px) {
  .DigitalitataionSect1 {
    height: 60vh;
  }
}
