.ServicebigSect1 {
    background-image: url("https://res.cloudinary.com/dzzkeb6xp/image/upload/v1658165297/pexels-mark-stebnicki-2253595_pgqgyc.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 82vh;
}