.toastIcon {
    width: 50px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    /* filter: saturate(1000%) brightness(120%) hue-rotate(210deg) */
}

.toast {
    border-radius: 7px;
    width: 280px;
    ;
}

.toast-header {
    border-radius: 7px 7px 0px 0px;
}