.PriceRateSect1{
    background-image: url("https://res.cloudinary.com/dzzkeb6xp/image/upload/v1658689607/pexels-pixabay-355948_yekwq1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 82vh;
}