#navigation {
  background-color: rgba(27, 12, 39, 255);
}

#info {
  margin-left: 24%;
}

.butonLog {
  color: rgba(255, 255, 255, 0.55);
}

@media screen and (max-width: 990px) {
  #info {
    margin-left: 0%;
  }

  .butonLog-service {
    margin-left: 2%;
  }
}
