.Servicetitle {
  text-align: center;
  margin-bottom: 4%;
}

.Servicerow {
  margin-bottom: 4%;
}

.title1 {
  margin-top: 3%;
}

@media screen and (max-width: 520px) {
  .title1 {
    text-align: center;
  }
}
