.adminNav {
  margin-bottom: 5%;
}
#main-nav {
  height: auto;
  color: white;
  background-color: rgba(27, 12, 39, 255);
}

#main-admin-component {
  padding: 0;
}

.adminLogo {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 750px) {
  .adminLogo {
    display: none;
  }
}
