.EnergyEficySect1{
    background-image: url("https://res.cloudinary.com/dzzkeb6xp/image/upload/v1658690876/pexels-led-supermarket-577514_gb870u.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 82vh;

}